WpfRentingApartementRacheli/WpfRentingApartementRacheli/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="GetApartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetApartmentsResult" nillable="true" type="q1:ArrayOfDTOApartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="apartments" nillable="true" type="q2:DTOApartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApartmentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetAreasResult" nillable="true" type="q3:ArrayOfDTOAreas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="areas" nillable="true" type="q4:DTOAreas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOAraesCitiesStreets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOAraesCitiesStreetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetTOAraesCitiesStreetsResult" nillable="true" type="q5:ArrayOfDTOAraesCitiesStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAraesCitiesStreet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="araesCitiesStreet" nillable="true" type="q6:DTOAraesCitiesStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAraesCitiesStreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAraesCitiesStreetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetTOCitiesResult" nillable="true" type="q7:ArrayOfDTOCities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="cities" nillable="true" type="q8:DTOCities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCitiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetExtrasResult" nillable="true" type="q9:ArrayOfDTOExtras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExtras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="extras" nillable="true" type="q10:DTOExtras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExtrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExtrasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOExtrasApartements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOExtrasApartementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetTOExtrasApartementsResult" nillable="true" type="q11:ArrayOfDTOExtrasApartements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExtrasApartements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="extrasApartements" nillable="true" type="q12:DTOExtrasApartements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExtrasApartementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExtrasApartementsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOHirers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOHirersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetTOHirersResult" nillable="true" type="q13:ArrayOfDTOHirers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHirers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hirers" nillable="true" type="q14:DTOHirers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHirersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHirersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetImagesResult" nillable="true" type="q15:ArrayOfDTOImages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="images" nillable="true" type="q16:DTOImages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddImagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTORentings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTORentingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetTORentingsResult" nillable="true" type="q17:ArrayOfDTORentings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addentings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="rentings" nillable="true" type="q18:DTORentings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddentingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddentingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetStreetsNamesResult" nillable="true" type="q19:ArrayOfDTOStreetsNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStreetsNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="streetsNames" nillable="true" type="q20:DTOStreetsNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStreetsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStreetsNamesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArae">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="areas" nillable="true" type="q21:DTOAreas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAraeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAraeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="apartment" nillable="true" type="q22:DTOApartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApartmentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateraesCitiesStreet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="raesCitiesStreet" nillable="true" type="q23:DTOAraesCitiesStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateraesCitiesStreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateraesCitiesStreetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="city" nillable="true" type="q24:DTOCities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCitiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatextras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="extra" nillable="true" type="q25:DTOExtras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatextrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatextrasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtrasApartements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="ExtrasApartements" nillable="true" type="q26:DTOExtrasApartements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtrasApartementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExtrasApartementsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHirers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hirer" nillable="true" type="q27:DTOHirers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHirersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHirersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="image" nillable="true" type="q28:DTOImages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateImagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRentings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="rentings" nillable="true" type="q29:DTORentings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRentingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRentingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStreetsNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="streetsName" nillable="true" type="q30:DTOStreetsNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStreetsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStreetsNamesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>